@use "@sass/abstracts/mixins" as mx;

$p-font-config: (
    null: (1rem, 24px),
);
p {
    @include mx.font-config($p-font-config);
    font-family: var(--ff-text);
    color: var(--color-dark-high);

}
.font-normal {
    font-style: normal;
}
.font-bold {
    font-weight: bold;
}