$color-magenta: #E63888;

$color-dark-low: rgba(0, 0, 0, 0.44);
$color-dark-medium: rgba(0, 0, 0, 0.6);
$color-dark-high: rgba(0, 0, 0, 0.8);
$color-accent-color: $color-magenta;
$color-light-solid: #FFFFFF;
$color-light-high: rgba(255, 255, 255, 0.8);

