@forward '@sass/main';
@use '@sass/main' as *;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	// Colors
	--color-dark-low: #{$color-dark-low};
	--color-dark-medium: #{$color-dark-medium};
	--color-dark-high: #{$color-dark-high};
	--color-accent-color: #{$color-accent-color};
	--color-light-solid: #{$color-light-solid};
	--color-light-high: #{$color-light-high};

	// Fonts
	--ff-heading: #{$ff-general};
	--ff-text: #{$ff-general};
}